@page
@model IndexModel
@{
    ViewData["Title"] = "ad";
    ViewData["ActiveMenu"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello world!- Time now @DateTime.Now </p>
</div>
